.container {
    color: rgb(9, 9, 9);
    text-decoration: none;
}

.form-style {
    box-shadow: inherit;
    display: flex;
    justify-content: center;
    align-Items: center;
    flex-Wrap: wrap;
    flex-Direction: column;
    margin-Top: 30px;
}